$color_1: #61696e;
$color_2: #ffffff;
$color_3: #303436;
$color_4: #8d989d;
$font_family_1: Helvetica;
$font_family_2: ArialMT;
$font_family_3: Courier;
$font_family_4: Helvetica-Bold;

.btn-filters {
	.btn {
		background: #f7f8f9;
		border: 1px solid #c2cad0;
		border-radius: 0 3px 3px 0;
		font-family: $font_family_1;
		font-size: 14px;
		color: $color_1;
	}
	.active {
		background: #f7f8f9;
		border: 1px solid #c2cad0;
		border-radius: 0 3px 3px 0;
		font-family: $font_family_1;
		font-size: 14px;
		color: $color_1;
		background: #1a72b0;
		border-radius: 3px 0 0 3px;
		font-family: $font_family_1;
		font-size: 14px;
		color: $color_2;
		letter-spacing: 0;
		text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
	}
}
.movies {
	border-collapse: separate;
	border-spacing: 1rem;
	hr {
		margin: 5px 0;
	}
	tr {
		>td {
			background: #e8ebee;
			border: 2px solid #303436;
			border-radius: 8px;
			font-family: $font_family_2;
			font-size: 14px;
			color: $color_3;
			line-height: 18px;
			h3 {
				font-family: $font_family_1;
				font-size: 24px;
				color: $color_3;
				line-height: 18px;
				margin-top: 1rem;
			}
			.rated {
				font-family: $font_family_3;
				font-size: 14px;
				color: $color_4;
				line-height: 18px;
				border: 1px solid #8d989d;
				border-radius: 4px;
				margin-right: 1rem;
				padding: 2px;
			}
			p {
				font-family: $font_family_1;
				font-size: 16px;
				color: $color_3;
			}
		}
	}
	.btn-imdb {
		background: #f9b44a;
		border-radius: 4px;
		font-family: $font_family_4;
		font-size: 16px;
		color: $color_2;
		text-align: left;
		float: right;
	}
}
@media (min-width: 768px) {
	.movies {
		tr {
			>td {
				h3 {
					margin-top: 0;
				}
			}
		}
	}
}
